# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Huan Yin\Desktop\1009 Proj\ict1009-team35-2021\SnakeProject2Player(V4.3)\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
