# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\png_h\Downloads\ICT 1009 Object Oriented Programming\ICT 1009 Project\SnakeProject2Playerv0.1\SnakeProject2Player\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
